#scrollwindow {
	background-color: grey;
	opacity:0.22;
}	

body, html {
	color: #111111;
}

.textcolor {
	color: #ffffff;
}

.darkcolor {
	color: black;
}

.userinput, .persistent {
	list-style-type: disc;
	color:white; 
}
.validated {
	list-style-type: disc;
	color:red; 
}
.functioninput {
	list-style-type: disc;
	color:yellow; 
}

.codebox {
	margin-bottom: 10px;
	background-color: #C4CDD1;
}

.vulnblock {
	background-color:#ABBBC3;
	color:black;
	font-weight:bold;
}

.windowcontent , #funccodecontent, #funccodetitle, .funclistcontent {
	background-color: #C4CDD1;
	opacity:0.92;
}

.markline {
	background-color: #F98888;
}

.code, .vulntitle  { 
	font-family: "Bitstream Vera Sans Mono", "Monaco", "Courier New", monospace;
	font-size:9pt; 
	color: #007700;
}

.requires,
.linenr
	{color: black; font-weight:bold;}
	
.link
	{font-weight:bold; color: #0000BB;}

.phps-code,
.phps-t-dollar-open-curly-braces,
.phps-t-curly-open,
.phps-t-open-tag,
.phps-t-close-tag,
.phps-t-and-equal, 
.phps-t-concat-equal, 
.phps-t-div-equal, 
.phps-t-minus-equal, 
.phps-t-mod-equal, 
.phps-t-mul-equal, 
.phps-t-or-equal, 
.phps-t-plus-equal, 
.phps-t-sl-equal, 
.phps-t-sr-equal, 
.phps-t-xor-equal, 
.phps-t-is-equal,
.phps-t-is-greater-or-equal,
.phps-t-is-identical,
.phps-t-is-not-equal,	
.phps-t-is-not-identical,
.phps-t-inc,
.phps-t-dec,
.phps-t-object-operator,
.phps-t-double-colon,
.phps-t-paamayim-nekudotayim,
.phps-t-if,
.phps-t-switch,
.phps-t-while,
.phps-t-do,
.phps-t-exit,
.phps-t-try,
.phps-t-catch,
.phps-t-isset,
.phps-t-exclaim,
.phps-t-for,
.phps-t-foreach,
.phps-t-return,
.phps-t-double-arrow,
.phps-t-as,
.phps-t-or,
.phps-t-case,
.phps-t-default,
.phps-t-break,
.phps-t-continue,
.phps-t-goto,
.phps-t-and,
.phps-t-xor,
.phps-t-global,
.phps-t-logical-and,
.phps-t-logical-or,
.phps-t-boolean-or,
.phps-t-boolean-and,
.phps-t-empty,
.phps-t-unset,
.phps-t-else,
.phps-t-elseif,
.phps-t-list,
.phps-t-array,
.phps-t-echo,
.phps-t-start-heredoc,
.phps-t-end-heredoc,
.phps-t-function,
.phps-t-public,
.phps-t-private,
.phps-t-protected,
.phps-t-static,
.phps-t-class,
.phps-t-new,
.phps-t-print,
.phps-t-include,
.phps-t-include-once,
.phps-t-require,
.phps-t-require-once,
.phps-t-use,
.phps-t-var,
.phps-t-bool-cast,
.phps-t-double-cast,
.phps-t-int-cast,
.phps-t-unset-cast,
.phps-t-boolean-or,
.phps-t-boolean-and,
.phps-t-file, 
.phps-t-line, 
.phps-t-dir, 
.phps-t-func-c, 
.phps-t-class-c, 
.phps-t-method-c, 
.phps-t-ns-c
	{color: #007700;}

.phps-t-const,
.phps-t-variable,
.phps-t-string-varname, 
.phps-t-string,
.phps-t-eval,
.phps-t-lnumber,
.funclistline,
.phps-t-variable-marked,
.phps-tainted-var
	{color: #0000BB;}
	
.phps-t-variable-marked
	{background-color:#F5A69A;}	
	
.phps-tainted-var
	{font-weight:bold;}	
	
.phps-t-encapsed-and-whitespace,
.phps-t-constant-encapsed-string
	{color: #DD0000;}

.phps-t-inline-html
	{color: #000000;}

.phps-t-comment,
.phps-t-ml-comment,
.phps-t-doc-comment
	{color: #FF8000}
