#search_tip{
    float:right;
    font-size: 11px;
    padding: 0 5px;
    background-color : rgba(10,100,10,0.4);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 5px 10px 5px #888;
}