a.more_page{
 position: relative;
 left: 400px;
 top: -40px;
 z-index: 99;
}

ul#charts_in_report li {
 display: inline-block;
 margin-right: 100px;  
}

.chart rect {
 fill: steelblue;
}

.line_class_0.line{
 stroke:  rgba(153, 216, 49, 0.8);
 fill:  rgba(153, 216, 49, 0.8);
 stroke-width : 0.2em;
}

rect.line_class_0 {
 fill:   rgba(153, 216, 49, 0.8);
}

.line_class_1.line{
 stroke: rgba(9, 195, 132, 0.7);
 fill: rgba(9, 195, 132, 0.7);
 stroke-width : 0.2em;
}

rect.line_class_1 {
 fill:  rgba(9, 195, 132, 0.7);
}

.line_class_2.line{
 stroke: rgba(210, 40, 90, 0.7);
 fill:  rgba(210, 40, 90, 0.7);
 stroke-width : 0.2em;
}

rect.line_class_2 {
 fill:  rgba(210, 40, 90, 0.7);
}


.line_class_3.line{
 stroke: rgba(211, 213, 143, 0.9);
 fill:  rgba(211, 213, 143, 0.9);
 stroke-width : 0.2em;
}

rect.line_class_3 {
 fill:  rgba(211, 213, 143, 0.9);
}

.line_class_4.line{
 stroke: rgba(40, 140, 90, 0.7);
 fill:  rgba(40, 140, 90, 0.7);
 stroke-width : 0.2em;
}

rect.line_class_4 {
 fill:  rgba(40, 140, 90, 0.7);
}

.line_class_5.line{
 stroke: rgba(10, 180, 180, 0.8);
 fill:  rgba(10, 180, 180, 0.8);
 stroke-width : 0.2em;
}

rect.line_class_5 {
 fill:  rgba(10, 180, 180, 0.8);
}

.line_class_6.line{
 stroke: rgba(237, 167, 5, 0.9);
 fill:  rgba(237, 167, 5, 0.9);
 stroke-width : 0.2em;
}

rect.line_class_6 {
 fill:  rgba(237, 167, 5, 0.9);
}


.line_class_7.line{
 stroke: rgba(5, 237, 5, 0.9);
 fill: rgba(5, 237, 5, 0.9);
 stroke-width : 0.2em;
}

rect.line_class_7 {
 fill: rgba(5, 237, 5, 0.9)
}

.line_class_8.line{
 stroke: rgba(5, 206, 237, 0.9);
 fill: rgba(5, 206, 237, 0.9);
 stroke-width : 0.2em;
}

.rect.line_class_8 {
 fill: rgba(5, 206, 237, 0.9);
}

.line_class_9.line{
 stroke: rgba(105, 206, 237, 0.9);
 fill: rgba(105, 206, 237, 0.9);
 stroke-width : 0.2em;
}

.rect.line_class_9 {
 fill: rgba(105, 206, 237, 0.9);
}

.line_class_10.line{
 stroke: rgba(105, 6, 237, 0.9);
 fill: rgba(105, 6, 237, 0.9);
 stroke-width : 0.2em;
}

.rect.line_class_10 {
 fill: rgba(105, 6, 237, 0.9);
}

.line_class_11.line{
 stroke: rgba(205, 106, 27, 0.7);
 fill: rgba(205, 106, 27, 0.7);
 stroke-width : 0.2em;
}

.rect.line_class_11 {
 fill: rgba(205, 106, 27, 0.7);
}

.line_class_12.line{
 stroke: rgba(105, 106, 27, 0.9);
 fill: rgba(105, 106, 27, 0.9);
 stroke-width : 0.2em;
}

.rect.line_class_12 {
 fill: rgba(105, 106, 27, 0.9);
}

.line_class_13.line{
 stroke: rgba(105, 6, 237, 0.3);
 fill: rgba(105, 6, 237, 0.3);
 stroke-width : 0.2em;
}

.rect.line_class_13 {
 fill: rgba(105, 6, 237, 0.3);
}

.line_class_14.line{
 stroke: rgba(105, 106, 237, 0.3);
 fill: rgba(105, 106, 237, 0.3);
 stroke-width : 0.2em;
}

.rect.line_class_14 {
 fill: rgba(105, 106, 237, 0.3);
}


.chart_xaxis_title{
 text-anchor : middle;
 font-size: 0.9em;
 font-weight: bold;
}

.chart_value_text {
 display: block;
 text-anchor : end;
 fill : #000;
 font-size: 0.8em;
}



.chart .cluster_class_0, rect.data_class_0   {
 fill: rgba(49, 216, 92, 0.8);
}


.chart .cluster_class_1, rect.data_class_1 {
 fill: rgba(78, 128, 185, 0.9);
}

.chart .cluster_class_2, rect.data_class_2 {
  
   fill: rgba(148, 240, 63, 0.85);
 
}

.chart .cluster_class_3, rect.data_class_3 {
 fill: rgba(150, 38, 125, 0.8);
}

.chart .cluster_class_4, rect.data_class_4 {
 fill: rgba(89, 183, 183, 0.8);
}

.chart .cluster_class_5, rect.data_class_5 {
fill: rgba(210, 40, 90, 0.7);
}

.chart .cluster_class_6, rect.data_class_6 {
fill: rgba(211, 213, 143, 0.9);
}

.chart .cluster_class_7, rect.data_class_7 {
 fill: rgba(5, 237, 5, 0.9);
}

.chart .cluster_class_8, rect.data_class_8 {
 fill: rgba(5, 206, 237, 0.9);
}

.chart .cluster_class_9, rect.data_class_9 {
 fill: rgba(105, 206, 237, 0.9);
}

.chart .cluster_class_10, rect.data_class_10 {
 fill: rgba(105, 6, 237, 0.9);
}

.chart .cluster_class_11, rect.data_class_11 {
 fill: rgba(205, 106, 27, 0.7);
}

.chart .cluster_class_12, rect.data_class_12 {
 fill: rgba(105, 106, 27, 0.9);
}

.chart .cluster_class_13, rect.data_class_13 {
 fill: rgba(105, 6, 237, 0.3);
}

.chart .cluster_class_14, rect.data_class_14 {
 fill: rgba(105, 106, 237, 0.3);
}

.chart .cluster_class_15, rect.data_class_15 {
 fill: rgba(15, 6, 27, 0.3);
}

.chart .cluster_class_16, rect.data_class_16 {
 fill: rgba(105, 12, 27, 0.4);
}

.chart_label_text {
 display: block;
 text-anchor : end;
 fill : #000;
 font-size: 0.8em;

}

.chart_label_text.x_axis {
 text-anchor : start;
}

.chart_name{
font-size: 1.1em;
text-align: left;  
 display: block !important;
 font-weight:bold;
 color:#39C;
}

.major_grid{
 stroke : #000; 
 stroke-opacity : 0.6;
 stroke-width: 0.02em;
}

.minor_grid{
 stroke : #000; 
 stroke-opacity : 0.4;
 stroke-width: 0.01em;
}

ul.multi_charts li{
 display: inline-block;
 margin: 5px 20px;
}

#return_divId >div, .svg_image>div{
 display: inline-block;
 margin-right: 20px;
}