#pm_batch_operation_line .class_detail_form{
margin-left: -938px;
}


#pm_batch_operation_line .form_detail_data_fs{
  width: 938px;
}

#pm_batch_operation_line .class_detail_form{
margin-top: 24px;
}