#po_quote_divId .class_detail_form{
margin-left: -771px;

}

#po_quote_divId .form_detail_data_fs{
  width: 771px;
  
}

#po_quote_divId fieldset.form_detail_data_fs{
 margin-top: 24px;
}


td.blank{
    border: none;
    background-color : rgba(240, 240, 240, 0.4);
}

tr.detail {
 background-color : rgba(240, 240, 240, 0.5);
}

table.form_line_data_table{
    font-size: 13px;
}

#page_print{
    width: 980px;
}
.full_page {
    float: left;
    width: 100%;
    display: block;
    clear: both;
}

.half_page{
    width: 50%;
}

.left, .right {
    float: left;
}

#print_body .form_line_data_table{
    width: 100%;
}

tr.detail_header th{
    background-color : rgba(240,240,240,0.5);
    color : rgba(9, 105, 158, 1);
    line-height: 6px;
    font-size: 10px;
}
