
#content_header{
 height : 300px;
 min-width: 100%;
 background-color: rgba(60, 60, 60, 0.1);
 margin-bottom: 5px;
 padding-top: 5px;
 border-radius: 10px;

}

span.longHeading{
 color: #16457A;
 font-weight: bold;
}

.release_message .heading{
 margin: 4px;
 text-align: center;
 border-bottom: 4px solid #16457A;
 clear: both;
 display: block;
 font-size: 1.2em;
 font-weight: bold;
}


ul.summary_list li {
 display: inline-block;
 width: 450px;
 vertical-align : top;
 padding : 0px 10px;
 height : 170px;
 overflow: hidden;
}

ul.summary_list li .subject_summary{
 display: block;
 font-size: 1.2em;
 font-weight: bold;
 margin-bottom: 10px;
 padding: 6px 12px;
 /*border-bottom: 1px solid;*/
 overflow: hidden;
}
.module_message:empty{
 display: none;
}

#process_folw {
 clear: both;
 display: block;
 width: 980px;
 float: left;
 text-align: left;
 margin-left: 5px;  

}
#process_folw ul li{
 display: inline-block;

}


.captionOrange, .captionBlack
{
 color: #fff;
 font-size: 24px;
 line-height: 46px;
 text-align: center;
 border-radius: 4px;
}
.captionOrange
{
 background: #EB5100;
 background-color: rgba(235, 181, 0, 1);
}
.captionBlack
{
 font-size:16px;
 background: #000;
 background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
 color: #ffffff;
 text-decoration: none;
}
a.captionOrange:hover
{
 color: #eb5100;
 text-decoration: underline;
 background-color: #eeeeee;
 background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
 background: url(files/images/browser-icons.png);
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
 position: absolute;
 cursor: pointer;
 display: block;
 /*background: url(files/images/a17.png) no-repeat;*/
 overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
 filter: alpha(opacity=70);
 opacity: .7;
 overflow:hidden;
 cursor: pointer;
 border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
