
/* 
    Document   : layout
    Created on : May 27, 2013, 10:41:55 AM
    Author     : dasn
    Description:
        Purpose of the stylesheet follows.
*/


html { 
  height: 100%; 
  min-width: 100%; 
}

body {  
  min-width: 1200px; 
  height: 100%; 
  margin-top : 0px;
  margin-right: 5px; 
  margin-left: 5px;
  padding: 0px; 
  border: 0px;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Cambria, Georgia, serif;
  /*background: #D4E6F4;*/
  font-size: 12px; 
  line-height: 16px; 
  color : #59474E;
  background: #E6EDF6; 
  overflow :auto;
}
/* Header Values
*/

#header { 
  height: auto !important;
  height: 70px;
  min-height: 70px;
  min-width: 100%;
  text-align: left; 
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 2%, rgba(41,184,229,1) 11%, rgba(179,220,237,1) 29%, rgba(41,184,229,1) 52%, rgba(179,220,237,1) 85%, rgba(41,184,229,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(179,220,237,1)), color-stop(11%,rgba(41,184,229,1)), color-stop(29%,rgba(179,220,237,1)), color-stop(52%,rgba(41,184,229,1)), color-stop(85%,rgba(179,220,237,1)), color-stop(97%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* IE10+ */
background: linear-gradient(135deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
#header h1 { 
  padding: 1em; 
  margin: 0px;
}

#header .logo{
  width: 400px;
  float: left;
}

#header .header_info {
  float: left;
  width : 400px;
}

#header .user_info {
  float: right;
  margin-right : 10px;
}

/* Main Content Value
*/

#main { 
  margin-top : 2px;
  min-width: 100%;
  min-height: 100%;
  clear: both;
overflow-x:hidden;
overflow-y : auto;
margin-bottom: 5px;
  background: rgb(118,183,226); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(118,183,226,1) 0%, rgba(162,222,246,1) 4%, rgba(111,200,241,1) 10%, rgba(162,222,246,1) 14%, rgba(162,222,246,1) 19%, rgba(111,200,241,1) 19%, rgba(238,246,252,1) 19%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(118,183,226,1)), color-stop(4%,rgba(162,222,246,1)), color-stop(10%,rgba(111,200,241,1)), color-stop(14%,rgba(162,222,246,1)), color-stop(19%,rgba(162,222,246,1)), color-stop(19%,rgba(111,200,241,1)), color-stop(19%,rgba(238,246,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(118,183,226,1) 0%,rgba(162,222,246,1) 4%,rgba(111,200,241,1) 10%,rgba(162,222,246,1) 14%,rgba(162,222,246,1) 19%,rgba(111,200,241,1) 19%,rgba(238,246,252,1) 19%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(118,183,226,1) 0%,rgba(162,222,246,1) 4%,rgba(111,200,241,1) 10%,rgba(162,222,246,1) 14%,rgba(162,222,246,1) 19%,rgba(111,200,241,1) 19%,rgba(238,246,252,1) 19%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(118,183,226,1) 0%,rgba(162,222,246,1) 4%,rgba(111,200,241,1) 10%,rgba(162,222,246,1) 14%,rgba(162,222,246,1) 19%,rgba(111,200,241,1) 19%,rgba(238,246,252,1) 19%); /* IE10+ */
background: linear-gradient(to right,  rgba(118,183,226,1) 0%,rgba(162,222,246,1) 4%,rgba(111,200,241,1) 10%,rgba(162,222,246,1) 14%,rgba(162,222,246,1) 19%,rgba(111,200,241,1) 19%,rgba(238,246,252,1) 19%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b7e2', endColorstr='#eef6fc',GradientType=1 ); /* IE6-9 */

  
  }

#left-block { 
  display: block; 
  float: left;
  /*width: 230px;*/
  margin-right : 10px;
  min-height: 100%;
  height: auto !important;
  height: 600px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  /*padding: 25px 10px 75px 10px;*/
  /*  vertical-align: top;*/
  padding-left : 5px;
/*  overflow : hidden;*/
   color: #D4E6F4; 
	
}


#structure { 
  /*min-width : 500px;*/
  /*height: auto !important;*/
  min-height: 450px;
  height: 100%;
  float:right;
  min-width: 660px;
  width : 80.4%;
  padding-top: 1px;
  /*    padding-left : 15px;*/
  /*  padding-bottom: 1000em;
  margin-bottom : -1000em;*/
  margin-bottom: 10px;
  margin-right: 3px;
   }
   
   #scrollElement{
     overflow-x:auto;
     clear: both;
     }

#main_find #structure{
width: 100%;
}

#main_find .form_submit{
clear: both;
padding-top : 5px;
margin-left : 20px;
}

#structure h1, h2, h3 {
  margin-left : 10px;
}

#structure h1 {
  margin-bottom: 10px;
  float : left;
  width : 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight : bold;
  text-shadow : current;
  color : #003d7a;
}

#structure h2, h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  font-weight : bold;
  float: left;
  clear: both;
  width: 95%;
  margin: 10px;
}

#structure h9 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  }   
  

/* Footer Content Value
*/
#footer {  
  height: auto !important;
  height: 20px;
  min-height: 20px;
  margin-top: 3px;
  min-width: 100%;
  clear : both;
  text-align: center; 
  color: #D4E6F4;
  line-height : 18px;
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}
  
.button, .button-cancel {
    cursor: pointer;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:Georgia;
	font-size:11px;
	font-weight:bold;
	padding: 2px 10px !important;
	text-decoration:none;
	text-align: center;
	line-height : 15px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.button:hover {
text-decoration: none; 
color:green;
}

.button a:hover {
text-decoration: none; 
}

.button-cancel a, a:hover, a:link, a:active {
  text-decoration: none;
  color: #FFFFFF;
}

/*  Table Layouts   */
table, tr, td { 
  border-collapse: collapse; 
  vertical-align: top; 
  font-size: 11px; 
  line-height: 13px;
  }


  table.normal {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	float : left;
	margin-left : 20px;
}

table.normal th {
  background-color:#c3dde0;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.normal tr {
  background-color:#d4e3e5;
}

table.normal td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}

table.show-address{
display : block;
width : 915px;
margin-right : 100px;
float : left;
border : 1px solid rgb(246,248,249);

}

table.show-address td {
margin-right : 50px;
display : inline-block;
width : 200px;
}


table.form_table {
  display: block;
  color:#333333;
  background-color:#d4e3e5;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  clear: both;
}

table.form_table th {
  background-color:#c3dde0;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

table.form_table tr {
  background-color:#d4e3e5;
}

table.form_table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #fff;
}


/*Span details*/
span.heading{
  color : #cc;
  font-weight : bold;
  padding : 3px 10px;
  display: inline-block;
  min-width: 950px;

}

/*ul & li*/
ul{
list-style-type: none;
padding: 0;
margin-left: 0;
}

ul#form_box li.ncontrol, #form_line li.control{
display: block;
}

.two_column ul,
.three_column ul {
    display: block;
    border: 1px solid rgb(246, 248, 249);
    margin-bottom: 20px;
    width: 101%;
    margin-left: -2px;
}

.two_column ul,
.three_column{
display: block;
}

.two_column ul li, 
.two_column ul li label{
 display : inline-block;
  width: 480px;
  font-weight : bold;
  font-size : 10px;
}

.three_column ul li, 
.three_column ul li label{
 display : inline-block;
  width: 180px;
  font-weight : bold;
  font-size : 10px;
}

#form_top{
  margin: 0px;
}

ul.form_top{
  display: box;
  height : 30px;
  margin-top : 0px;
  padding-top : 5px;
  padding-left : 10px;
  border : 2px solid rgb(247,251,252);
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 1%, rgba(41,184,229,1) 8%, rgba(41,184,229,1) 26%, rgba(179,220,237,1) 75%, rgba(15,177,226,1) 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(179,220,237,1)), color-stop(8%,rgba(41,184,229,1)), color-stop(26%,rgba(41,184,229,1)), color-stop(75%,rgba(179,220,237,1)), color-stop(89%,rgba(15,177,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* IE10+ */
background: linear-gradient(135deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#0fb1e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

ul.form_top li{
  display:inline;
  margin-right : 40px;
  }


/*Other elements*/
.date{
display: inline-block;
width: 90px;
height: 13px;
}

/*user page*/
#user{
  margin-left : 100px;
}

ul.tabMain{
padding : 5px 10px;
width: 98%;
margin-left : -1px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 18%, rgba(225,225,225,1) 32%, rgba(225,225,225,1) 71%, rgba(225,225,225,1) 97%, rgba(241,241,241,1) 98%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(18%,rgba(225,225,225,1)), color-stop(32%,rgba(225,225,225,1)), color-stop(71%,rgba(225,225,225,1)), color-stop(97%,rgba(225,225,225,1)), color-stop(98%,rgba(241,241,241,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 18%,rgba(225,225,225,1) 32%,rgba(225,225,225,1) 71%,rgba(225,225,225,1) 97%,rgba(241,241,241,1) 98%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 18%,rgba(225,225,225,1) 32%,rgba(225,225,225,1) 71%,rgba(225,225,225,1) 97%,rgba(241,241,241,1) 98%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 18%,rgba(225,225,225,1) 32%,rgba(225,225,225,1) 71%,rgba(225,225,225,1) 97%,rgba(241,241,241,1) 98%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 18%,rgba(225,225,225,1) 32%,rgba(225,225,225,1) 71%,rgba(225,225,225,1) 97%,rgba(241,241,241,1) 98%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#tabsLine ul li, #tabsHeader ul li , #tabs ul li {
margin-right : 5px;
}

#tabsLine ul li a:link, #tabsLine ul li a:hover, #tabsLine ul li a:active, 
#tabsHeader ul li a:link, #tabsHeader ul li a:hover, #tabsHeader ul li a:active,
#tabs ul li a:link, #tabs ul li a:hover, #tabs ul li a:active {
    padding: 8px 5px;
    text-decoration: none;
    font-size: 12px;
 
}

.small_box{
margin-top : 20px;
border-radius:25px;
float: left;
width : 200px;
text-align: center;
padding : 5px 0px;
margin-right : 40px;
box-shadow: 1px 5px 10px 5px #888888;
}

.small_box li{
display: block;
margin-bottom: 5px;
}

.large_box{
margin-top : 20px;
border-radius:25px;
float: left;
width : 400px;
text-align: center;
padding : 5px 0px;
margin-right : 40px;
box-shadow: 1px 5px 10px 5px #888888;
}

.large_box li{
display: block;
margin-bottom: 5px;
}

.medium_box{
margin-top : 20px;
border-radius:25px;
float: left;
width : 300px;
text-align: center;
padding : 5px 0px;
margin-right : 40px;
box-shadow: 1px 5px 10px 5px #888888;
}

.medium_box li{
display: block;
margin-bottom: 5px;
}

.small_box box_heading,
.large_box box_heading,
.medium_box box_heading{
display: block;
font-weight: bold;
font-size: 1.1em;
width: 100%;
text-shadow: 0px 0px 5px;
margin-bottom: 5px;
}

ul.search_form{
display: block;
}

ul.search_form li{
display: inline-block;
width : 200px;
}

#submit_search{
margin-bottom: 10px;
}

ul.form_buttons li{
display: inline-block;
}


.ui-dialog{
padding : 30px 60px;
border: 2px solid #fff;
font-size: 14px;
width: 600px;
margin-top: 200px;
border-radius: 50px 50px 50px 50px;
z-index: 10;
background: #91e842; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #91e842 2%, #cfea00 21%, #91e842 51%, #a6dd00 74%, #d2ff52 95%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,#91e842), color-stop(21%,#cfea00), color-stop(51%,#91e842), color-stop(74%,#a6dd00), color-stop(95%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #91e842 2%,#cfea00 21%,#91e842 51%,#a6dd00 74%,#d2ff52 95%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #91e842 2%,#cfea00 21%,#91e842 51%,#a6dd00 74%,#d2ff52 95%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #91e842 2%,#cfea00 21%,#91e842 51%,#a6dd00 74%,#d2ff52 95%,#91e842 100%); /* IE10+ */
background: linear-gradient(135deg,  #91e842 2%,#cfea00 21%,#91e842 51%,#a6dd00 74%,#d2ff52 95%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#91e842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ui-dialog .ui-button {
margin-top : 10px;
float: center;
margin-left: 200px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

span.ui-button-text{
float: right;
font-size: 16x;
font-weight: bold;

}
.ui-widget-overlay{
background : grey;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
opacity: 0.8;
}

.ui-dialog-titlebar{
background : red;
text-align : center;
margin : 8px 0px;
color : white;
font-weight: bold;
font-size : 16px;
padding : 4px;
}

#page #show_attachment,
#page #page_element,
#content_header #content_element{
clear : both;
display: block;
width: 670px;
margin: 10px 5px 10px;
border-radius: 10px 10px 10px 10px;
float: left;
text-align: left;
padding: 5px 15px;
box-shadow: 1px 5px 10px 5px rgb(136, 136, 136);
}
#content_header #show_attachment{
clear : both;
display: block;
width: 670px;
margin: 10px 5px 10px;
float: left;
text-align: left;
padding: 5px 15px;
}

#pages{
clear : both;
display: block;
margin: 10px 5px 10px;
border-radius: 10px 10px 10px 10px;
float: left;
text-align: left;
padding: 5px 15px;
box-shadow: 1px 5px 10px 5px rgb(136, 136, 136);
}

#pages #form_header{
padding: 5px 10px;
}


#page #show_attachment,
#content_header show_attachment{
padding: 15px;
margin-top:30px;
}

#comment #show_attachment{
margin-top:10px;
}

#comment #subject ul li{
display: inline-block;
margin-right : 15px;
}

#attachment_page ul li{
margin-right: 20px;
}

#attachment_page ul.header{
margin-top: 5px;
padding : 2px 5px;
background: lightgrey;
}

#attachment_page ul.header li{
margin-right: 10px;
}


#page_element ul h3{
display: block;
width: 290px;
margin: 0;
}

#page_element ul li,
#content_element ul li{
display: block;
padding: 5px;
display: inline-block;
margin-right : 36px;
}

.page_summary{
clear : both;
margin: 10px 5px 10px;
border-radius: 5px 5px 5px 5px;
float: left;
width: 670px;
text-align: left;
padding: 5px 15px;
box-shadow: 1px 5px 10px 5px rgb(136, 136, 136);
}

#contentId{
clear: both;
padding-top: 10px;
}

#comment #subject ul li{
display: inline-block;
margin-right: 5px;
}