ul#form_box li.ncontrol, #form_line li.control{
display: block;
width: 100%;
margin-left: -40px;
}

.date{
display: inline-block;
width: 90px;
height: 13px;
}

.two_column ul,
.three_column ul {
    border: 1px solid rgb(246, 248, 249);
    margin-bottom: 20px;
    width: 990px;
    display: block;
    margin-left: -2px;
}

.eight_column {
    border: 1px solid rgb(246, 248, 249);
    margin-bottom: 20px;
    width: 990px;
    display: table;
    margin-left: -2px;
    /*display: block;*/
}
.eight_column > li, 
.eight_column > li label{
  display: inline-block;
  width: 120px;
  font-weight : bold;
  font-size : 10px;
  padding-bottom: 5px;
}
.eight_column ul > li{
/*  border : 2px solid grey;*/
}


.two_column ul,
.three_column{
display: block;
}

.two_column ul li, 
.two_column ul li label{
 display : inline-block;
  width: 400px;
  font-weight : bold;
  font-size : 10px;
}

.three_column ul li, 
.three_column ul li label{
 display : inline-block;
  width: 180px;
  font-weight : bold;
  font-size : 10px;
}


table.show-address{
display : block;
width : 915px;
margin-right : 100px;
float : left;
border : 1px solid rgb(246,248,249);

}

table.show-address td {
margin-right : 50px;
display : inline-block;
width : 200px;
}

span.heading{
  color : black;
  font-weight : bold;
  padding-left : 10px;
  display: inline-block;
  width: 990px;
background: rgb(147,206,222); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(147,206,222,1)), color-stop(41%,rgba(117,189,209,1)), color-stop(100%,rgba(73,165,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

ul.form_top{
  display: box;
  width: 976px;
  height : 30px;
  margin-top: -8px;
  margin-left : -16px;
 margin-right : -6px;
  padding-top : 5px;
  border : 2px solid rgb(247,251,252);
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 1%, rgba(41,184,229,1) 8%, rgba(41,184,229,1) 26%, rgba(179,220,237,1) 75%, rgba(15,177,226,1) 89%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(179,220,237,1)), color-stop(8%,rgba(41,184,229,1)), color-stop(26%,rgba(41,184,229,1)), color-stop(75%,rgba(179,220,237,1)), color-stop(89%,rgba(15,177,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* IE10+ */
background: linear-gradient(135deg,  rgba(179,220,237,1) 1%,rgba(41,184,229,1) 8%,rgba(41,184,229,1) 26%,rgba(179,220,237,1) 75%,rgba(15,177,226,1) 89%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#0fb1e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

ul.form_top li{
  display:inline;
  margin-right : 40px;
  }
.submit {
	
}

/* 
    Document   : layout
    Created on : May 27, 2013, 10:41:55 AM
    Author     : dasn
    Description:
        Purpose of the stylesheet follows.
*/

html { height: 100%; 
       width: 100%; 
}
body {  
  width: 100%; 
  min-width: 1000px;
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
  border: 0px;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Cambria, Georgia, serif;
  /*background: #D4E6F4;*/
  font-size: 12px; 
  line-height: 16px; 
  color : #59474E;
}
/* Header Values
*/

#header { 
  height: auto !important;
  height: 70px;
  min-height: 70px;
  text-align: left; 
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 2%, rgba(41,184,229,1) 11%, rgba(179,220,237,1) 29%, rgba(41,184,229,1) 52%, rgba(179,220,237,1) 85%, rgba(41,184,229,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(179,220,237,1)), color-stop(11%,rgba(41,184,229,1)), color-stop(29%,rgba(179,220,237,1)), color-stop(52%,rgba(41,184,229,1)), color-stop(85%,rgba(179,220,237,1)), color-stop(97%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* IE10+ */
background: linear-gradient(135deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
#header h1 { 
  padding: 1em; 
  margin: 0px;
}

#header .logo{
  width: 400px;
  float: left;
}

#header .header_info {
  float: left;
  width : 400px;
}

#header .user_info {
  float: right;
  margin-right : 10px;
}

/* Main Content Value
*/

#main { 
  background: #E6EDF6; 
  margin-top : 2px;
  overflow:hidden ;
  font-size : 15px;
  line-height : 22px;
}
#structure { 
  /*min-width : 500px;*/
  height: auto !important;
  height: 600px;
  float:left;
  min-width: 660px;
  width : 76%;
  /*    padding-left : 15px;*/
  padding-top : 5px;
  padding-left : 5px;
  min-height: 600px;
  margin-left : 10px;
}

#left-block {  
  min-width: 200px;
  width: 19%;
  float: left;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  /*padding: 25px 10px 75px 10px;*/
  /*  vertical-align: top;*/
  padding-left : 5px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
    color: #D4E6F4; 
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(179,220,237,1) 2%, rgba(41,184,229,1) 11%, rgba(179,220,237,1) 29%, rgba(41,184,229,1) 52%, rgba(179,220,237,1) 85%, rgba(41,184,229,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(179,220,237,1)), color-stop(11%,rgba(41,184,229,1)), color-stop(29%,rgba(179,220,237,1)), color-stop(52%,rgba(41,184,229,1)), color-stop(85%,rgba(179,220,237,1)), color-stop(97%,rgba(41,184,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* IE10+ */
background: linear-gradient(135deg,  rgba(179,220,237,1) 2%,rgba(41,184,229,1) 11%,rgba(179,220,237,1) 29%,rgba(41,184,229,1) 52%,rgba(179,220,237,1) 85%,rgba(41,184,229,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

/*#right-block { 
  float: right;
  font-size: 0.75em;
  min-width: 170px;
  width : 15%;
  background: #34C6CD;
  display:inline-block;
  vertical-align:top;
 }*/


#structure h1, h2, h3 {
  margin-left : 10px;
}

#structure h1 {
  margin-bottom: 10px;
  float : left;
}

#structure h1 {
width : 100%;
}
#structure h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight : bold;
  text-shadow : current;
  color : #003d7a;
}
#structure h2, h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 18px;
  font-weight : bold;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#structure h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 18px;
  font-weight : bold;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}   

.button, .button-cancel {
    cursor: pointer;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:Georgia;
	font-size:11px;
	font-weight:bold;
	padding: 2px 10px !important;
	text-decoration:none;
	text-align: center;
	line-height : 15px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.button:hover {
text-decoration: none; 
color:green;
}

.button a:hover {
text-decoration: none; 
}

.button-cancel{
/*  border-top:		2px solid #a3ceda;
  border-left:		2px solid #a3ceda;
  border-right:		2px solid #4f6267;
  border-bottom:		2px solid #4f6267;
  padding:		10px 20px !important;
  font-size:		14px !important;
  background-color:	#01939A;
  font-weight:		bold;
  color:			#D4E6F4;
  margin-left: 100px;
  display : inline;*/
}
.button-cancel a, a:hover, a:link, a:active {
  text-decoration: none;
  color: #FFFFFF;
}
/* Footer Content Value
*/
#footer {  
  height: auto !important;
  height: 20px;
  min-height: 20px;
  text-align: center; 
  color: #D4E6F4;
  line-height : 18px;
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}



/*  Table Layouts   */
table, tr, td { 
  border-collapse: collapse; 
  vertical-align: top; 
  font-size: 11px; 
  line-height: 13px;
  }

table.normal {
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.normal th {
  background-color:#c3dde0;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}
table.normal tr {
  background-color:#d4e3e5;
}

table.normal td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #a9c6c9;
}

table.form_table {
  display: block;
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}

table.form_table th {
  background-color:#c3dde0;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

table.form_table tr {
  background-color:#d4e3e5;
}

table.form_table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #fff;
}
