#hd_subscription_line .class_detail_form{
margin-left: -923px;
}

#hd_subscription_line .form_detail_data_fs{
  width: 923px;
}

#hd_subscription_line .class_detail_form{
margin-top: 24px;
}

 
#hd_subscription_line .inline_action li{
 vertical-align: top !important;
}