#pm_process_operation_line .class_detail_form{
margin-left: -856px;
}


#pm_process_operation_line .form_detail_data_fs{
  width: 856px;
}

#pm_process_operation_line .class_detail_form{
margin-top: 24px;
}
